<template>
    <table class="table">
        <thead>
        <tr>
            <td>
                <button v-on:click="decrease"><</button>
            </td>
            <td colspan="5"> {{months[month]}} {{year}} </td>
            <td>
                <button v-on:click="increase">></button>
            </td>
        </tr>
        <tr>
            <td v-for="d in day">{{d}}</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="week in calendar()">
            <td v-for="(day, index) in week"> {{ day.index }} </td>
        </tr>
        </tbody>
    </table>
</template>

<script src="./Header.js"></script>
<style lang="scss" src="./Header.scss"></style>