<template>
   <div id="leafletmap" class="leafletmap leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0"></div>
</template>

<script src="./Map.js"></script>

<style lang="scss" src="./Map.scss"></style>

