header {
  $headerHeight: 60px;
  background: #323B3B;
  height: $headerHeight;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  .container {
    height: $headerHeight;
  }
  .row-flex {
    height: 100%;
    align-items: center;
  }
  .icon-logo {
    width: 46px;
    height: 42px;
    float: left;
    margin-right: 20px;
  }

}

