<template>
    <header>
        <div class="container">
            <a href="/map">
                <img class="icon-logo" src="../../assets/icon/ic-launcher-web.png" alt="">
            </a>
        </div>
    </header>
</template>

<script src="./Header.js"></script>
<style lang="scss" src="./Header.scss"></style>
