<template>
    <div class="page-wrapper"  id="app">
        <contracam-header></contracam-header>
        <div class="content-wrapper">
            <div class="content">
                <router-view :key="$route.fullPath"></router-view>
            </div>
        </div>
        <div v-if="cookiesMsg" style="position: fixed; width: 100%; left: 0; bottom: 0; z-index: 99999; background: #000; color: #fff; text-align: center; padding: 12px; font-size: 13px">
            We use cookies to ensure that we give you the best experience on our website.
            If you continue to use this site we will assume that you are happy with it.
            <el-button style="margin-left: 8px" type="primary" size="small" @click="hideCookiesMsg()">OK</el-button>
        </div>
    </div>
</template>

<script>
    import ContracamHeader from './components/Header/Header.vue'

    export default {
        name: 'app',
        data () {
            return {
                applicationClass: 'page-wrapper',
                eventType: '',
                text: '',
                cookiesMsg: false
            }
        },
        methods: {
            hideCookiesMsg() {
                localStorage.setItem('cookies_msg', 'hide')
                this.cookiesMsg = false
            }
        },
        components: {
            ContracamHeader
        },
        created () {
            this.cookiesMsg = !localStorage.getItem('cookies_msg')
        }
    }
</script>

<style lang="scss">
    @import "scss/common";
    i {
        &.icon {
            display: inline-block;
            &-icon-logo {
                width: 40px;
                height: 40px;
                background: url(./assets/icon/ic-launcher-web.png);
                background-size: 40px 40px;
            }
        }
    }
</style>
